<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>RPI Radio</title>
    </h:head>
    <h:body>
        <h:form>
            <h:inputText value="#{addStationBB.station}">
                <f:passThroughAttribute name="placeholder" value="Állomás"/>
            </h:inputText>
            <h:commandButton value="+" action="#{addStationBB.addStation()}"/>
        </h:form>
        <h:form>
            <h:dataTable var="station" value="#{stationManager.stations}">
                <h:column>
                    <f:facet name="header">Törlés?</f:facet>
                    <h:commandButton action="#{removeStationBB.removeStation(station)}" 
                                     value="X"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Állomásnév</f:facet>
                    
                    <h:outputText value="#{station}"/>
                </h:column>
            </h:dataTable>
        </h:form>
        
        <h:form>
            <h:commandButton action="#{refreshStationstBB.refresh()}" 
                                     value="Lista beolvasása"/>
            <h:commandButton action="#{writeToFileBB.writeToFile()}"
                                     value="Kiírás Fájlba"/>
        </h:form>
    </h:body>
</html>

